.activeState{
	background-color: #28343e !important; 
}

.container-fluid {
	background-color: #c1cdd7;
}
.white-text{
	color:#d0d9e1;
}


a:hover {
	outline: none;
}


.pull-right {
	float: right !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}